*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration:none;
}
nav{
    background: linear-gradient(to right,antiquewhite, lightblue);
    height: auto;
    padding: 5px 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
nav a{
    color: black;
}
nav a:hover{
    color: black;
}
.logo{
    flex: 1;
}
.logo a{
    display: flex;
    justify-items: center;
    font-size: 40px;
    padding-top: 5px;
}
.logo img{
    padding-top: 8px;
    width: 60px;
    height: 50px;
    margin-right: 5px;
}
.nav-links{
    display: flex;
    list-style: none;
    align-items: center;
    color: black;
}
.nav-links li{
    padding: 5px 10px;
    /*letter-spacing: 2px;*/
    font-size: 18px;
}
.toggle{
    font-size: 30px;
    display: none;
}
@media screen and (max-width: 600px) {
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }
    .nav-links{
        margin-top: 15px;
        display:none;
    }
    .nav-links.active,.toggle{
        display: block;
    }
    .toggle{
        position: absolute;
        top: 15px;
        right: 20px;
    }
    .news-rows{
        position: static;
    }

}
.hero-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    /*border: 1px solid black;*/
    background: mediumblue;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
    padding: 6px 10px;
}
.hero-btn:hover{
    border: 1px solid black;
    transition: 0.6s;
    /*color: black;*/
}

.news-rows{
    width: 100%;
    padding: 15px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.news-rows1{
    width: 100%;
    padding:15px 20px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.news-card h5{
    padding: 7px;
}
.news-card{
    border: 1px solid black;
    width: 450px;
    height: 380px;
    text-align: center;
    padding: 30px 5px 10px 10px;
    box-sizing: border-box;
    position: relative;
}
.news-card img{
    max-width: 400px;
    max-height: 300px;
    display: inline-block;
    object-fit: contain;
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/news4.jpg");
    background-position: center;
    padding: 100px 0;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
}
.cta h1 {
    color: #fff;
    font-size: 30px;
    padding: 0;
    margin-bottom: 40px;
}
.hero-btn1{
    color: honeydew;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid honeydew;
    background: transparent;
    position: relative;
    padding: 6px 10px;
}
.hero-btn1:hover{
    border: 1px solid blanchedalmond;
    background-color: darkred;
    transition: 0.6s;
    color: honeydew;
}
.full-card{
    background-color: ghostwhite;
    padding: 20px 0 50px 0;
    text-align: center;
}
.full-card img{
    width: 550px;
    height: 400px;
    padding-bottom: 20px;
}
.content{
    background-color: aliceblue;
    text-align: justify;
    padding: 0 20px 0 20px;
}
.content p{
    font-size: large;
    justify-content: space-around;
    padding-bottom: 10px;
}
.button{
    text-align: center;
}
.hero-btn2{
    color: white;
    display: inline-block;
    text-decoration: none;
    /*border: 1px solid black;*/
    background: darkgreen;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
    padding: 6px 10px;
}
.hero-btn2:hover {
    border: 1px solid black;
    transition: 0.6s;
}
footer{
    width: 100%;
    bottom: 0;
    position: relative;
    background: linear-gradient(to right,antiquewhite, lightblue);
    color: black;
    padding: 60px 0 30px;
    border-top-left-radius: 125px;
    line-height: 20px;

}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}
.col{
    flex-basis:25%;
    padding: 15px;

}
.col:nth-child(2),col:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width:fit-content ;
    border-bottom: 1px solid black;
    margin: 20px 0;

}
.col:nth-child(1),col:nth-child(2) p{
    font-size: 15px;
}


ul li{
    list-style: none;
    margin-bottom: 12px;
    padding-right: 10px;
}
ul li a{
    text-decoration: none;
    /*color:#ffffff;*/

}
.menu a{
    color: black;
}
form{
    padding: 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

form input{
    width: 100%;
    background: transparent;
    color:#ccc;
    border: 0;
    outline: none;
}
form ion-icon{
    padding-right: 10px;
}
form button{
    background: transparent;
    border: 0;
    cursor: pointer;
}
form button.icon{
    font-size: 18px;
    color: black;

}
.social-icons ion-icon{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 5px;
    color: #000000;
    background: whitesmoke;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width:90%;
    border: 0;
    border-bottom: 1px solid black;
    margin: auto;
}
hr,p{
    text-align: center;
    font-size: 10px;
}
.underline{
    width: 100%;
    height: 5px;
    background:whitesmoke;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left:0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: black;
    border-radius: 3px;
    position: absolute;
    top:0;
    left: 10px;
    animation: moving 2s linear infinite;
}
.underline a{
    font-size: 15px;
}
@keyframes moving {
    0%{
        left: -20px;
    }
    100%{
        left:100%;
        }
}
.row p{
    font-size: 15px;
}


